.pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid rgba(234, 236, 240, 0.34);
  &-left{
    a{
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  &-right{
     a{
       display: flex;
       align-items: center;
       gap: 8px;
     }
  }
  &-middle{
    display: flex;
    align-items: center;
    gap: 2px;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      &:hover{
        background: $pagination-bg-hover-color;
        color: $pagination-link-hover-color;
      }
      &.active{
        background: $pagination-bg-active-color;
        color: $pagination-link-active-color;
      }
    }
  }
}

@media screen and (max-width: 570px){
  .pagination{
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
  }
}