.tags{
  &-wrapper{
    display: flex;
    gap: 8px;
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      background: $tag-bg;
      padding: 2px 10px;
      border-radius: $tag-radius;
    }
  }
  .research{
    color: #3538CD;
    background: #EEF4FF;
  }
  .design,
  .podcasts,
  .leadership{
    color: #6941C6;
    background: #F9F5FF;
  }
  .interface,
  .tools,
  .presentation{
    color: #C11574;
    background: #FDF2FA;
  }
  .software-development{
    color: #027A48;
    background: #ECFDF3;
  }
  .saas{
    color: #C01048;
    background: #FFF1F3;
  }
  .customer-success,
  .management{
    color: #363F72;
    background: #F8F9FC;
  }
  .product{
    color: #026AA2;
    background: #F0F9FF;
  }
  .frameworks{
    color: #C4320A;
    background: #FFF6ED;
  }
}

@media screen and (max-width: 390px){
  .tags{
    &-wrapper{
      flex-wrap: wrap;
    }
  }
}