aside.detail-left.sidebar
    h2.sidebar-title
        | Recent blog posts
    .sidebar-desktop__column.sidebar-desktop__slider
        +firstPost({
            'link': '',
            'image': 'post-2.jpeg',
            'date': 'Sunday , 20 Jan 2023',
            'title': 'PM mental models',
            'preview': 'Mental models are simple expressions of complex processes or relationships.',
            'isDirectRow': false,
            'tags': {"product": "Product", "research": "Research", "frameworks": "Frameworks"},
            'isViewArrow': true,
        },
            true)
        +firstPost({
            'link': '',
            'image': 'post-2.jpeg',
            'date': 'Sunday , 20 Jan 2023',
            'title': 'PM mental models',
            'preview': 'Mental models are simple expressions of complex processes or relationships.',
            'isDirectRow': false,
            'tags': {"product": "Product", "research": "Research", "frameworks": "Frameworks"},
            'isViewArrow': true,
        },
            true)
        +firstPost({
            'link': '',
            'image': 'post-2.jpeg',
            'date': 'Sunday , 20 Jan 2023',
            'title': 'PM mental models',
            'preview': 'Mental models are simple expressions of complex processes or relationships.',
            'isDirectRow': false,
            'tags': {"product": "Product", "research": "Research", "frameworks": "Frameworks"},
            'isViewArrow': true,
        },
            true)
        +firstPost({
            'link': '',
            'image': 'post-2.jpeg',
            'date': 'Sunday , 20 Jan 2023',
            'title': 'PM mental models',
            'preview': 'Mental models are simple expressions of complex processes or relationships.',
            'isDirectRow': false,
            'tags': {"product": "Product", "research": "Research", "frameworks": "Frameworks"},
            'isViewArrow': true,
        },
            true)
        +firstPost({
            'link': '',
            'image': 'post-2.jpeg',
            'date': 'Sunday , 20 Jan 2023',
            'title': 'PM mental models',
            'preview': 'Mental models are simple expressions of complex processes or relationships.',
            'isDirectRow': false,
            'tags': {"product": "Product", "research": "Research", "frameworks": "Frameworks"},
            'isViewArrow': true,
        },
            true)
