main.detail-right
    .detail-right__date
        | Sunday , 1 Jan 2023
    h1.detail-right__title
        | Grid system for better Design User Interface
    article.detail-right__content.user-content