.container
    .footer-wrapper
        .footer-copyright
            | © #{new Date().getFullYear()}
        ul.footer-menu
            li
                a(href="#") Twitter
            li
                a(href="#") LinkedIn
            li
                a(href="#") Email
            li
                a(href="#") RSS feed
            li
                a(href="#") Add to Feedly